body {
    font-family:"Myriad pro";
    color:#333;
    background-color:#eee;
}

body, ul, h1, h2, h3 {
    margin:0;
    padding:0;    
}

a:link, a:visited {
    color:#554;
    text-decoration:none;
    border-bottom:1px solid #ddd;
}

ul.notes, ul.tags, h1, h2, h3 { width:400px;}
div.wrapper {width:850px; margin:20px auto 20px auto;}
div.main {float:left;}
div.sidebar { float:right;}

h1, h2, h3 { text-align:center; background-color:#eee;}
h1 { margin-top:50px; width:100%; }
ul {
    list-style:none;  
    width:400px;
    text-indent:0;
    padding:0;
}
ul.notes li, ul.search li {
    padding:10px;
    border-radius:20px;
    background-color:white;
    margin:3px;
}
ul.notes li span { color:#666; }
ul.notes li.done p {text-decoration: line-through;}

.sidebar ul li { width:100%;}
h2.search {
    margin-top:20px;
}
ul.notes li textarea,
ul.search li input[type=text] {
    width:100%;
    min-height:52px;
    border:1px solid #eee;
    border-radius:5px;
}

ul.search li input[type=text] {
    min-height:25px;
}

span.filter {
    float:right;
    margin-top:-37px;
}
span.filter a {
    margin-left:.5em;
}

input[type=submit] {
    border:1px solid #eee;
    background-color:#ddd;
    float:right;
    border-radius:5px;
}
input[type=submit]:hover {
    background-color:#eee;
} 

div.sidebar {
    margin:0;
    padding:0;
}

ul.tags {
    margin-top:5px;
    border-radius:20px;
    background-color:white;
    min-height:83px;
    padding:10px;
}
ul.tags li {
    display:inline;
    border:none;
    margin-right: 1em;
}

/* Auto-complete styles*/
ul.ui-autocomplete {
    border:1px solid #ccc; 
    padding:0; 
    background-color:white; 
    width:373px; 
    box-shadow: 5px 5px 5px #ccc;
}
ul.ui-autocomplete li {
    padding:0;
    border:none;
    border-radius:0;
}
ul.ui-autocomplete li:hover {
    background-color:#eee;
}